:root{
    --blue: #003E6F;
    --gold: #A2832E;
}

body{
    font-family: 'Lato', sans-serif !important;
}

.row{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}

.blue-text{
    color: var(--blue) !important;
}

.gold-text{
    color: var(--gold) !important;
}

.fondo-oscuro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.btn-blue{
    background-color: var(--blue);
    color: #fff !important;
}

.btn-blue:hover, .btn-blue:focus{
    background-color: #00335a;
    transition: 0.2s;
}

.bg-blue{
    background-color: var(--blue);
    color: #fff;
}


.nav-link:hover, .navlink:focus{
    color: rgba(0, 62, 111, 1);
}

.nav-link {
    color: rgba(0, 62, 111, 0.9);
}

label{
    font-size: 14px;
    font-weight: 300;
    color: var(--blue);
}